.button {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
}

.button:hover {
  cursor: pointer;
}

.button span.left {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 25px 20px 0;
  border-color: transparent #c4c4c5 transparent transparent;
}

.button span.right {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 25px;
  border-color: transparent transparent transparent #c4c4c4;
}

.button span.pause {
  display: block;
  background-color: #c4c4c4;
  width: 40px;
  height: 40px;
}

.button span.play {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 25px;
  border-color: transparent transparent transparent #c4c4c4;
}
