.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 70vw;
  height: 75vh;
  overflow: hidden;
}

.carousel-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  transition: transform ease-out 0.45s,
}

.carousel-content li {
  margin: 0 10px;
}
